---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allEducation = await getCollection("education");
const pageTitle = "Education";
---
<Layout pageTitle={pageTitle}>
    <h2>Education</h2>
    <p>I completed my degree in Software Engineering from the University of Seville on 2022, which provided me with a solid foundation of knowledge. However, I believe in the importance of continous learning, so I am dedicated to expanding my skills with different resources. Here, I will showcase some of the certifications that may be the most relevant. </p>
    <div class="list">
        <ul>
            <li style={{cursor: "auto"}}><span>B2 Trinity English</span></li>
            {allEducation.map((education) => <li><span><a href={`/education/${education.slug}/`} class="outer-link">{education.data.title}</a></span></li>)}
        </ul>
    </div>
</Layout>

