---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePicture from "../assets/profile-picture.png"
const pageTitle = "Javier Navarro";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <Image class="profile-picture" src={profilePicture} alt="profilePicture" />
    </div>
    
    <div class="profile-info">
        <h1>Javier Navarro</h1>
        <span class="badge">Software Engineer</span>
        <span class="badge">Full-Stack</span>
    </div>
    <p>
        Hey there everyone! I'm a young Full-Stack developer with a passion for minimalism and continuous improvement. 
    </p>
    <h2>About me</h2>
    <p>
        I graduated as a Software Engineer from the University of Seville in 2022. Since then, I've remained committed to self-education to keep up with the latest technologies. Throughout my journey, I've worked with Artificial Intelligence, Business Intelligence, and Blockchain. Currently, my primary focus lies in Full-Stack web development, all while advocating for a positive and healthy work environment. A strong supporter of remote work.
    </p>
    <div class="center">
        <a href="/projects/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
            </picture>
            <figcaption class="skills__alt">JavaScript</figcaption>
            <div class="progress-bar">
				<span class="progress-bar-fill" style="width: 70%;"></span>
			</div>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
            </picture>
            <figcaption class="skills__alt">TypeScript</figcaption>
            <div class="progress-bar">
				<span class="progress-bar-fill" style="width: 70%;"></span>
			</div>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
            </picture>
            <figcaption class="skills__alt">React</figcaption>
            <div class="progress-bar">
				<span class="progress-bar-fill" style="width: 70%;"></span>
			</div>
        </figure>
        
        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
            </picture>
            <figcaption class="skills__alt">Angular</figcaption>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"/>
            </picture>
            <figcaption class="skills__alt">NodeJS</figcaption>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="MongoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"/>
            </picture>
            <figcaption class="skills__alt">MongoDB</figcaption>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
            </picture>
            <figcaption class="skills__alt">Python</figcaption>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
            </picture>
            <figcaption class="skills__alt">Java</figcaption>
        </figure>

        <figure class="skills__item">
            <picture>
                <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
            </picture>
            <figcaption class="skills__alt">Git</figcaption>
        </figure>

    </div>
    <h2>Interests</h2>
    <p>
        <b>Professional:</b>
        User-driven design, writing high-quality code, using Artificial Intelligence for daily optimization, exploring Blockchain
    </p>
    <p>
        <b>Personal:</b>
        Enjoying outdoor activities during my freetime (Padel lover), embracing moments of connection with nature, prioritizing both physical and mental health
    </p>
</Layout>

