---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePicture from "../assets/profile-picture.jpg"
const pageTitle = "Javier Navarro";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <Image style={{maxHeight: "260px", width: "auto", borderRadius: "60px", borderColor:"white", borderStyle: "ridge", boxShadow: "rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"}} src={profilePicture} alt="profilePicture" />
        <!-- <img width="300" height="259" alt="profilePicture" src="../assets/profile-picture.jpg"/> -->
    </div>
    <h1>Javier Navarro</h1>
    <span class="badge">Software Engineer</span>
    <span class="badge">Full-Stack</span>
    <p>
        Hey there everyone! I'm a young Full-Stack developer with a passion for minimalism and continuous improvement. My aim is to craft applications that not only deliver an outstanding user experience but are also visually attractive.
    </p>
    <h2>About me</h2>
    <p>
        I graduated as a Software Engineer from the University of Seville in 2022, and since then, I have been studying independently to keep up with the latest technologies. Throughout my journey, I've worked with Artificial Intelligence, PowerBI, and Blockchain. However, my current focus lies in Full-Stack web development, always applying best practices in code implementation and encouraging a healthy work environment. A strong supporter of remote work.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="MongoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Flask" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Django" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Spring" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Github" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        <b>Professional:</b>
        User-driven design, writing high-quality code, using Artificial Intelligence for daily optimization, exploring Blockchain
    </p>
    <p>
        <b>Personal:</b>
        Enjoying outdoor activities during my freetime (Padel lover), embracing moments of connection with nature, prioritizing both physical and mental health
    </p>
</Layout>

