---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Muzta</a>
    </div>
    <div class="navbar__menu">
        <a href="/projects/">Projects</a>
        <a href="/education/">Education</a>
        <a href="/experience/">Experience</a>
        <ThemeIcon />
    </div>
</div>

